* {
    padding: 0px;
    margin: 0px;
}

body{
	
	background:#D3D3D3;
	
}

#topo{
	
	position:fixed;
	height:65px;
	width:100%;
	top: 0;
	left: 0;
	z-index:100;
	background:#4F4F4F;	

}

a{
	
	text-decoration:none;
	
}

#botao{
	
	float:left;
	height:65px;
	width:auto;
	margin-left:30px;
	margin-right: 20px;
	border-left: 2px ridge #696969;
	border-right: 2px ridge #696969;
}

#botao:hover{
	
	border-left: 2px solid #828282;
	border-right: 2px solid #828282;
	
}

#botao #text{
	
	margin-left:10px;
	margin-right:10px;
	margin-top:15px;
	text-align:center;
	font-size:30px;
	color:white;
	margin-bottom:10px;
	
}

#ger img{
    
    margin-top:8px;
    margin-right: 8px;
    height: 50px;
    float:right;
    
}

#baner{
	
    position:absolute;
    top:65px;
    left:0;
    height:250px;
    width:100%;
    background-image: url(../img/bg_baner_home.jpg);
    border-bottom:4px groove white;
    box-shadow: 0 0 12px black;	
}

#logo{
    
    margin-left:10%;
    margin-top: 40px;
    
}

#conteudo{
    
    position: relative;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 340px;
    width: 1000px;
    height: 1000px;
    
}

#foot{
    
    position: absolute;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    background: #1C1C1C;
    
    
}
